################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bookmark-issue-55/obj
/bookmark-issue-55-core/obj
